$selection-color: rgba(255, 255, 255, .5)

network-chart
  .node.cdu .party-indicator, .slice.cdu path, .hull.cdu
    fill: $cdu
  .node.spd .party-indicator, .slice.spd path, .hull.spd
    fill: $spd
  .node.gruene .party-indicator, .slice.gruene path, .hull.gruene
    fill: $gruene
  .node.linke .party-indicator, .slice.linke path, .hull.linke
    fill: $linke

  .hull
    pointer-events: none
    opacity: 0.4
    stroke-width: 20px
    stroke-linejoin: round
    &.cdu
      stroke: $cdu
    &.spd
      stroke: $spd
    &.gruene
      stroke: $gruene
    &.linke
      stroke: $linke

  .voronoi-patch
    path
      fill: none
      stroke: rgba(240, 240, 240, .5)
      // pointer-events: none
      fill: transparent
      &.active
        fill: rgba(255,0,0,.1)

  .link
    // stroke: rgba(240, 240, 240, .5)

  .node
    .selection-indicator
      fill: $selection-color
      opacity: 0
      transform: scale(0)
      transition: all .4s cubic-bezier(0, 1.8, 1, 1.8)
    .slice
      transition: all .4s cubic-bezier(0, 1.8, 1, 1.8)
      transform: scale(1)
    .title
      transition: opacity .5s
      opacity: 0
      pointer-events: none
      text
        font: 14px sans-serif
        &.faux-shadow
          fill: $selection-color
      rect.text-background
        fill: transparent
        stroke: transparent
        stroke-width: 10px
        stroke-linejoin: round
    &.active
      .selection-indicator
        opacity: 1
        transform: scale(1.5)
      .slice
        transform: scale(3)
      .title
        opacity: 1
