network-chart
  .node.cdu circle, .slice.cdu path
    fill: $cdu
  .node.spd circle, .slice.spd path
    fill: $spd
  .node.gruene circle, .slice.gruene path
    fill: $gruene
  .node.linke circle, .slice.linke path
    fill: $linke

  .link
    stroke: rgba(240, 240, 240, .5)

  .node text
    font: 10px sans-serif
    // pointer-events: none
