@charset "utf-8";

@import "bootstrap-sass";

$gruene: #7BBB2E;
$cdu: #121212;
$spd: #D52326;
$linke: #BD3476;

h1, h2, h3 { text-align: center; }

body {
  background: #FCFCFA;
}

body, p {
  font-family: 'Open Sans', sans-serif;
}

svg {
  display: block;
  margin: 0 auto 3em auto;
}

.arc path { stroke: #FFF; }
.arc text { fill: #000; }

.arc.cdu    path { fill: $cdu; }
.arc.cdu    text { fill: #FFF;   }
.arc.spd    path { fill: $spd; }
.arc.linke  path { fill: $linke; }
.arc.gruene path { fill: $gruene; }

#disclaimer {
  position: relative;
  &:before {
    display: block;
    font-size: 2.5em;
    position: absolute;
    left: -.5em;
    top: -.5em;
    content: '*';
  }
}

#news--controls, #news--description {
  text-align: center;
}

#news--controls {
  margin-top: 1em;
}

#news--clusters {
  padding: 0;
  ul { padding: 0; }
  li { list-style: none; }
  a {
    display: block;
    float: right;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .5em;
  }
}

.news--cluster {
  margin-top: 1em;
}

article-politics {
  ul, li {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
  }
  ul {
    width: 20%;
  }
  li.linke {
    background-color: $linke;
  }
  li.spd {
    background-color: $spd;
  }
  li.gruene {
    background-color: $gruene;
  }
  li.cdu {
    background-color: $cdu;
  }
}

#pp--title {
  position: relative;
  padding-top: 25%;

  h1 { display: none; }

  img {
    z-index: -2
  }

  #pp--title--canvas, img {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0px;
    left: 0px;
  }

}
