@charset "utf-8";

@import "bootstrap-sass";

$gruene: #7BBB2E;
$cdu: #121212;
$spd: #D52326;
$linke: #BD3476;

@import "network-chart";
@import "article-politics";

body {
  font: sans-serif;
  font-size: 10px;
  background: #FCFCFA;
}

svg {
  display: block;
  margin: 0 auto 3em auto;
}

.arc path { stroke: #FFF; }
.arc text { fill: #000; }

.arc.cdu    path { fill: $cdu; }
.arc.cdu    text { fill: #FFF;   }
.arc.spd    path { fill: $spd; }
.arc.linke  path { fill: $linke; }
.arc.gruene path { fill: $gruene; }

#news {
  .description {
    font-size: 1.2em;
  }
}
