---
title: Gesinnunsganalyse
---
.container#pp
  .row
    .col-md-12{:role => "main"}
      #pp--title
        %h1 linksrechts
        %h2 Politische Gesinnungsanalyse
        %img(src='images/img.png')
        %img(src='images/target.png')
        %canvas#pp--title--canvas
      %p#pp--description
        Auf dieser Seite können Sie die politische Gesinning von Texten und Internetseiten analysieren<a href="#disclaimer">*</a>.
        Sie können einen Text in das erste Formular kopieren oder eine Internetseite analysieren, indem Sie eine URL in das zweite Formular kopieren.
        Wir analysieren auch kontinuierlich einige der großen #{ link_to 'Nachrichten-Seiten', '/news.html' }.
      %form{:role => "form"}
        .form-group
          .col-xs-7
            %label{:for => "text_query"} Analysiere einen Text
            %textarea#text_query.form-control{:placeholder => "Hier einen Text reinpasten"}
            %button#submit_text.btn.btn-default{:type => "button"} Analyse starten
          .col-xs-5
            %label{:for => "submit_url"} Analysiere eine Internetseite
            %textarea#url_query.form-control{:placeholder => "Hier eine URL zu einem Text reinpasten"}
            %button#submit_url.btn.btn-default{:type => "button"} Analyse starten
    %svg#prediction
    #disclaimer
      %p
        Natürlich können wir nicht die politische Gesinnung aus ein paar Wörtern ziehen. Zumindest nicht perfekt. Daran, dies zu tun, wird jedoch aktiv geforscht [citation needed] und es gibt einige kommerzielle Anwendungsfälle. Beispiele sind [TODO x], [TODO y], [TODO z]. Es darf davon ausgegangen werden, dass ähnliche Techniken, wie wir sie hier verwenden, bereits eingesetzt werden, um ihre Tweets, Forenbeiträge, etc. auszuwerten. Dies ist kein Blick in die Zukunft sondern in die Gegenwart.
      %h4 Wie funktioniert die Analyse?
      %p
        Der Text wird in einen
        %a{:href => "http://en.wikipedia.org/wiki/Tf%E2%80%93idf"} Tf-idf
        normalisierten
        %a{:href => "http://en.wikipedia.org/wiki/Bag-of-words_model"} Bag-of-Words Vektor
        transformiert. Diese Darstellung misst Worthäufigkeiten, wobei seltene Wörter höher gewichtet werden; Wortstruktur wird nicht berücksichtigt. In dieser Vektordarstellung weist eine
        %a{:href => "http://en.wikipedia.org/wiki/Multinomial_logistic_regression"} Multiclass Logistic Regression
        den Text einer
        %a{:href => "https://www.bundestag.de/bundestag/fraktionen"} Fraktion des Deutschen Bundestages
        zu. Der Classifier wurde trainiert auf den Bag-of-Words Vektoren der
        = succeed "." do
          %a{:href => "http://www.bundestag.de/plenarprotokolle"} Plenarprotokolle des Bundestages

    -# :markdown
    -#   Hier ein bisschen Mathe $ \alpha $

-# :javascript
-#   window.MathJax = {
-#     tex2jax: {
-#       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
-#       processEscapes: true
-#     }
-#   };
-# %script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
