---
title: Partypredictor
---
.container(ng-app='pp' ng-controller='Main')
  .row
    .col-md-12{:role => "main"}
      %h1.page-header Partypredictor*
      %form{:role => "form"}
        .form-group
          .col-xs-7
            %label{:for => "text_query"} Mit Text
            %textarea#text_query.form-control{:placeholder => "Hier einen Text reinpasten"}
            %button#submit_text.btn.btn-default{:type => "button"} Submit Text
          .col-xs-5
            %label{:for => "submit_url"} Mit URL
            %textarea#url_query.form-control{:placeholder => "Hier eine URL zu einem Text reinpasten"}
            %button#submit_url.btn.btn-default{:type => "button"} Submit URL
    %svg#prediction
    %p.lead
      *Der Text wird in einen
      %a{:href => "http://en.wikipedia.org/wiki/Tf%E2%80%93idf"} Tf-idf
      normalisierten
      %a{:href => "http://en.wikipedia.org/wiki/Bag-of-words_model"} Bag-of-Words Vektor
      transformiert. Diese Darstellung misst Worthäufigkeiten, wobei seltene Wörter höher gewichtet werden; Wortstruktur wird nicht berücksichtigt. In dieser Vektordarstellung weist eine
      %a{:href => "http://en.wikipedia.org/wiki/Multinomial_logistic_regression"} Multiclass Logistic Regression
      den Text einer
      %a{:href => "https://www.bundestag.de/bundestag/fraktionen"} Fraktion des Deutschen Bundestages
      zu. Der Classifier wurde trainiert auf den Bag-of-Words Vektoren der
      = succeed "." do
        %a{:href => "http://www.bundestag.de/plenarprotokolle"} Plenarprotokolle des Bundestages

    #network-controls
      %label(for='select-distance') Distances
      %select#select-distance(ng-options='dist.name for dist in selectableDistances' ng-model='selectedDistance')
      %label(for='show-links')
        %input#show-links(type='checkbox' ng-model='controls.showLinks')
        Abstände visualisieren
      %br
      %label(for='select-clustering') Clustering
      %select#select-clustering(ng-options='clust.name for clust in selectableClusterings' ng-model='selectedClustering')
      %label(for='show-groups')
        %input#show-groups(type='checkbox' ng-model='controls.showGroups')
        Cluster visualisieren
      %label(for='disconnect-groups')
        %input#disconnect-groups(type='checkbox' ng-model='controls.disconnectGroups')
        Cluster entkoppeln
      %label(for='show-voronoi')
        %input#show-voronoi(type='checkbox' ng-model='controls.showVoronoi')
        Selektionspolygone visualisieren
      %input#link-percentage(type='range' min='0' max='1' step='0.01' ng-model='controls.linkPercentage')
      %label(for='link-percentage')
        {{controls.linkPercentage}}% Anteil Verbindungen
    #network
      %network-chart(network='network' selected-distance='selectedDistance' selected-clustering='selectedClustering' show-links='controls.showLinks' show-groups='controls.showGroups' disconnect-groups='controls.disconnectGroups' show-voronoi='controls.showVoronoi' link-percentage='controls.linkPercentage')

    -# :markdown
    -#   Hier ein bisschen Mathe $ \alpha $

-# :javascript
-#   window.MathJax = {
-#     tex2jax: {
-#       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
-#       processEscapes: true
-#     }
-#   };
-# %script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
