---
title: Partypredictor Network
---
.container#news(ng-app='news' ng-controller='newsCtrl')
  #pp--title
    %h1 linksrechts
    %h2 Die Nachrichten
    %img(src='images/img.png')
    %img(src='images/target.png')
    %canvas#pp--title--canvas
  #news--description.description
    Hier analysieren#{ link_to '*', '/#disclaimer' } wir die politische Gesinning der aktuellen Nachrichten. Dazu laden wir Nachrichten von Die Welt, Zeit Online, Spiegel Online und F.A.Z. halbstündlich herunter und schicken sie durch unsere Analysepipeline.
    Unser Algorithmus weist jedem Artikel Kennzahlen zu, die die Ähnlichkeit zur Ausdrucksweise bestimmter Parteien kennzeichnet.
    Das heißt, ein Artikel, der stark nach CDU, ein wenig nach SPU und nicht so sehr nach Gründe oder Linke aussieht, wird z.B. mit
    %article-politics(article='article1' ng-init='article1 = {prediction: [{party: "linke", probability: 0.08}, {party: "gruene", probability: 0.12}, {party: "spd", probability: 0.3}, {party: "cdu", probability: 0.5}]}' style='width: 50px;')
    annotiert. Ein Artikel der eher nach Grüne aussieht wird z.B. mit
    %article-politics(article='article2' ng-init='article2 = {prediction: [{party: "linke", probability: 0.2}, {party: "gruene", probability: 0.6}, {party: "spd", probability: 0.15}, {party: "cdu", probability: 0.05}]}' style='width: 50px;')
    annotiert. Wie das genau funktioniert erklären wir #{ link_to 'hier', '/#disclaimer' }.
    %br
    Für eine bessere Übersicht gruppieren wir mittels Cluster-Analyse nach Themen.
    Ihr habt auch die Möglichkeit #{ link_to 'eigene Texte oder Internetadressen', '/' } zu analysieren.

  #news--controls.row
    .col-md-12
      nach
      %span(ng-repeat='clust in selectableClusterings')
        %span(ng-if="$index > 0") /
        %label(for="clustering-{{clust.name}}")
          %input(type="radio" ng-value="clust" ng-model='controls.selectedClustering' name='clustering' id="clustering-{{clust.name}}")
          {{clust.name}}
      sortieren
      %br
        von
        %label(for="sort-rtol")
          %input(type="radio" ng-value="true" ng-model='controls.sortRightToLeft' name='sort' id="sort-rtol")
          rechts nach links
        \/
        %label(for="sort-ltor")
          %input(type="radio" ng-value="false" ng-model='controls.sortRightToLeft' name='sort' id="sort-ltor")
          links nach rechts
        sortieren

  %ul#news--clusters.row
    %li.news--cluster.col-md-8.col-md-offset-2(ng-repeat="cluster in controls.selectedClustering.clusters | orderBy:'members.length':true")
      %h3 {{cluster.description}}
      %ul#news--clusters--articles
        %li(ng-repeat='memberIndex in cluster.members | orderBy:scoreLeftRight:controls.sortRightToLeft')
          %article-politics(article='network.articles[memberIndex]')
          %a(href="{{network.articles[memberIndex].url}}")
            %img(src="https://plus.google.com/_/favicon?domain_url={{network.articles[memberIndex].domain}}")
            {{network.articles[memberIndex].title}}
